<!DOCTYPE html>
<html>
<head>
    <title>Homely Stripe Account Setup Reauth Page</title>
</head>
<body>
  
  <!- For printing variable these
      tags are used: <%= %>  -->
  <h1 style='color:green;'> <%= title %> </h1>
     
  <!- For business logic these
      tags are used: <% %> -->
  <% if(true){ %>
      <h4><%= body %></h4> 
  <% } %>
</body>
</html>